*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;

}

html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(9px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo.hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3 ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255),rgb(255, 0, 255));

}

li a:hover::before{
    width: 100%;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3 ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255),rgb(255, 0, 255));

}
.visit-btn:hover{
    background: linear-gradient(255, 0, 255), rgb(255, 0, 255),rgb(0, 157, 255);
    transform: scale(1.03);
}
#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 6%;
    width: 100%;
    position: relative;
}



.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, hsl(187, 94%, 39%),#fff7f9);
    background-size: 400% 400%;
    animation: b-g-Move 4s ease infinite;
}
@keyframes b-g-Move{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}



.about img{
    width: 220px;
    border-radius: 50%;

}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}

.info-box span{
    background: linear-gradient(to right, rgb(0, 157, 255),rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn{
    display: flex;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background: linear-gradient(to right, rgb(0, 157, 255),rgb(255, 0, 255));
    color: white;
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover{
    transform: scale(1.10);
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience{
    background: linear-gradient(270deg, hsl(187, 94%, 39%),#fff7f9);
    background-size: 400% 400%;
    animation: b-g-Move 4s ease infinite;
}
@keyframes b-g-Move{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}



.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}



.experience img{
    width: 24vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.grid-card{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.grid-card:hover{
    transform: scale(1.09);
    background-color: black;
    color: white;
}

.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-weight: 400;
    font-size: 2rem;
    background: linear-gradient(to right, rgb(0, 157, 255),rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(0, 157, 255),rgb(255, 0, 255));
}

.Projects{
    background: linear-gradient(270deg, hsl(187, 94%, 39%),#fff7f9);
}

.projects-title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}

.Projects-accom{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.project-grid-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3 ease-in-out;
}

.project-grid-card:hover{
    background-color: black;
    color: white;
    transform: translateY(10px)scale(1.03);

}

.project-grid-card img{
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
}

.project-grid-card .btn1{
    display: flex;
    border: 2px solid black;
    flex-direction: grid;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    cursor: pointer;

}

.project-grid-card:hover .btn1{
    display: flex;
    border: 2px solid white;
    flex-direction: grid;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    cursor: pointer;
}

.project-grid-card:hover .btn1:hover{
    border: 2px solid white;
    background: white;
    color: black;
    transform: scale(1.2);
}


.footer{
    text-align: center;

}

.tech-skills{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tech-section{
    background: linear-gradient(270deg, hsl(187, 94%, 39%),#fff7f9);
    background-size: 400% 400%;
    animation: b-g-Move 4s ease infinite;
}
@keyframes b-g-Move{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.tech-section h3{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.tech-section button{
    font-size: 6rem;
    width: clamp(80px, 18vw, 120px);
    height: clamp(80px, 18vw, 120px);
    font-size: clamp(3rem, 6vw, 6rem);
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
    border: 1px solid black;
    margin: 1rem;
    text-align: center;
}

.tech-section button:hover{
    transform: scaleY(1.1);
    color: white;
    background: black;
    border: 1px solid white;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(270deg, hsl(187, 94%, 39%),#fff7f9);
    background-size: 400% 400%;
    animation: b-g-Move 4s ease infinite;
}
@keyframes b-g-Move{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}



.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;

}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid red;
}

.contact-inputs::placeholder{
    color: #a9a9a9;

}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}


.contact-right img{
    width: 500px;
}

@media(max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;

    }
}

@media(max-width: 768px){
    .experience-info{
        flex-direction: column;
    }
    .experience img{
        width: 90%;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 768px){
    section{
        padding: 6rem 5%;
    }
}

@media (max-width: 768px){
  .about-container {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
}